<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car App </title>
  </head>
  <body>
    <h1>Welcome to the Car app!</h1>
    <h2>Fuel your passion and hit the road—life’s more thrilling when you’re driven by the love of cars! 🚗💨</h2>



   <b> <a href="/cars">Browse Cars</a> </b>
  </body>
</html>
